.horizontal-panel {
  background: var(--black-color);
  box-shadow: 3px 0px 3px 4px rgba(0, 0, 0, 0.202);
  height: 45px;
  display: flex;
  margin: 0 0 0 10px;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: var(--transition);
  &__full{
    border-radius: 0;
    margin: 0;
  }
  &__user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap:10px;
    height: 1;
    border-radius: 10px;
    padding: 8px;

    box-shadow: var(--neon-black);
  }
  &__name{
    font-size: var(--medium-size);
    color:white
  }
  &__img-block{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  &__flex-container{
    display: flex;
    align-items: center;
    
  }
}

.avatar-box{
  display: flex;
  align-items: center;
  column-gap:10px;
  
  &__img-container{
    position: relative;
    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
  }
  &__info-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2px;
  }
  &__circle{
    position: absolute;
    top: -6px;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: goldenrod;
    cursor: pointer
  }
}

.avatar-box__circle p{
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.avatar-box__img-container img{
  width: 85%;
  border-radius: 50%;
  height: 85%;
  object-fit: contain;
  cursor: pointer;
}


.avatar-box__info-container p{
  text-transform: capitalize;
  color: white;
}

.avatar-box__info-container button{
  border: none;
  cursor:pointer;
  color:gray ;
  background-color: inherit;
  padding: 0;
  margin: 0;
}