.container {
  margin-left: calc(100% / 4);
  margin-top: 145px;
  background-color: var(--whiteColor);
  display: flex;
  justify-content: center;
  background: #ecf0f3;
  flex-direction: column;
  padding: 10px;
  &__width--full {
    margin-left: 0;
  }
  &__height--full {
    margin-top: 45px;
  }
}
