.settings {
  &__checkbox {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    color: gray;
  }
  &__switch {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 8px 0 8px 0;
  }
}
