.menu-container{
    position: fixed;
    margin-left: calc(100%/4);
    margin-top: 45px;
    width:calc(100% - 100%/4);
    box-shadow: 3px 0px 3px 4px  rgba(0, 0, 0, 0.202);
    background: var(--white-color);
    transition: var(--transition);
    z-index: 98;
    &__full{
        width: 100%;
        margin-left: 0%; 
    }
    &__disabled{
        transform: translateY(-200%)
    }
}

<<<<<<< HEAD:crm/src/components/Menu/counterPanels.scss
.horizontal-container{
    z-index: 99;
    position: fixed;
    width: calc(100% - 100%/4);
    height: 45px;
    margin-left: calc(100%/4);
    background: var(--white-color);
    transition: var(--transition);
    &__full{
        width: 100%;
        margin: 0%; 
    }
}
=======
>>>>>>> 9326ae53b188f5cd7d428e6134289a38b54127e6:crm/src/components/TopMenu/topMenu.scss
.counters{
    margin: 10px;
    display: flex;
    column-gap: 10px;
    height:80px;
    
}

.counter{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    min-width: calc(80%/6);
    row-gap:10px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.194);
    border: 2px solid var(--white-color);
    transition: var(--transition);

    &__cross{
        position: absolute;
        display:none;
        top: 0px;
        right: 0px;
    }
}

.counter:hover{
        border-left: 2px solid goldenrod;
        transition: var(--transition);
        
}

.counter:hover > .counter__cross{
    display:block
}

.cross__panel{
    width: 15px;
    height: 15px;
    object-fit:contain
}



.counter__title p{
    font-size: var(--medium-size);
    color: var(--black-color);
}

.counter__number p{
    font-size: var(--medium-size);
    color: goldenrod;
    font-weight: 700;
    
}