.navigation{
    width: calc(100%/4);
    height: 100vh;
    background-color: black;
    box-shadow: 3px 0px 3px 3px rgba(0, 0, 0, 0.2);
    min-width: 275px;
    &__container{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
}

.avatar{
    display: flex;
    min-height: 100px;
    align-items: center;
    padding: 10px;
    background: var(--black-color);
    box-shadow: 0px 3px 3px  rgba(0, 0, 0, 0.202);
    margin-bottom: 30px;
    transition: var(--transition);

    &__block{
        background-color: var(--black-color);
        width: auto;
        height: auto;
        padding:10px;
        border-radius: 50%;
        box-shadow: var(--neon-black);
        border-bottom: 2px solid var(--black-color);
        cursor: pointer;
    }
    &__icon{
        width: 80px;
        height: 80px;
        padding: 10px

    }
    &__info{
        position:relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 0 0 0 10px;
    }
    &__name{
        font-size: 20px;
        font-weight: 600;
        color: white
    }
    &__button{
        cursor:pointer;
        align-items: center;
        box-shadow: var(--neon-black);
        border-radius: 10px;
        padding: 4px;
        border: none;
        margin: 5px 0 0 0;
        background-color:var(--black-color);
        transition: all ease .3s;
        border-bottom: 2px solid var(--black-color);
    }
    &__turnoff{
        width: 15px;
        height: 15px;
        object-fit: cover;
    }
}

.avatar__button p {
    margin: 0 0 0 5px
}

.avatar__button:hover{
    transition: var(--transition);
    border-bottom: 2px solid goldenrod;
}

.avatar__block:hover{
    transition: var(--transition);
    border-bottom: 2px solid goldenrod;
}

.link{
    position:relative;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    text-decoration: none;
    height: 35px;
    background: var(--black-color);
    box-shadow: 0px 4px  2px  rgba(0, 0, 0, 0.204);
    margin: 0 1px 1px 0;
    cursor: pointer;
    transition: all ease .3s;
    border-bottom: 1px solid var(--black-color);

    &__block{
        width: 20px;
        height: 20px;
        padding: 5px
    }
    &__icon{
        width: 100%;
        height: 100%;
        object-fit:contain;
        margin: 0 6px;
        color: #4A5853;

    }
    &__title{
        color: white;
        margin:0 10px;
        font-size: var(--medium-size)
    }
}

.link:hover{
    transform: translateX(10px);
    transition: var(--transition);
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.216);
    border-bottom: 1px solid goldenrod;
}

.link.active::after {
    position: absolute;
    right: 0;
    content: '';
    height: 100%;
    width: 2px;
    background: goldenrod
}   
.link.active::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: goldenrod
}   